In this Lab session, you will be working with pandas. The selected dataset could be downloaded at <https://www.kaggle.com/luiscorter/netflix-original-films-imdb-scores>. From there, a more thorough description of the data can be found.  
For your convenience, we have downloaded the data and place it under folder `data`.

# Data Import

First, import pandas

In [1]:
import pandas as pd

Specify the path to the data file `NetflixOriginals.csv`. By default, it is under the `data` directory which is under the same directory as this notebook

In [4]:
file_path = './data/NetflixOriginals.csv'

As you already see, it is a csv file. Use a text editor to open the file and find out which delimiter is used.

In [5]:
delimiter = ','

Now, use pandas and the above information to load the data into a dataframe.

In [6]:
df = pd.read_csv(file_path, delimiter=delimiter)

Print the *last* 15 lines of the dataframe.

In [7]:
df.tail(15)

,Title,Genre,Premiere,Runtime,IMDB Score,Language
569,My Octopus Teacher,Documentary,"September 7, 2020",85,8.1,English
570,Rising Phoenix,Documentary,"August 26, 2020",106,8.1,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
572,Disclosure: Trans Lives on Screen,Documentary,"June 19, 2020",107,8.2,English
573,Klaus,Animation/Christmas/Comedy/Adventure,"November 15, 2019",97,8.2,English
574,Seaspiracy,Documentary,"March 24, 2021",89,8.2,English
575,The Three Deaths of Marisela Escobedo,Documentary,"October 14, 2020",109,8.2,Spanish
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
578,Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

# Data exploration

## How many records (rows) and attributes (columns) are in the dataset?

In [8]:
df.shape

(584, 6)

## What is the highest (and lowest) score among all the movies in the dataset?

In [10]:
print(f'The datasat has {df.shape[0]} rows and {df.shape[1]} collums')

The datasat has 584 rows and 6 collums

## Which movies score the highest?

In [12]:
print(max(df['IMDB Score']))

9.0

## What are the genres of all the movies?

In [13]:
df[df['IMDB Score'] == df['IMDB Score'].max()]

,Title,Genre,Premiere,Runtime,IMDB Score,Language
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

## Bonus: Some movies are tagged with more than one genre, hence, the list of unique genres could be (possibly) less than what you have just obtained. Find a way to deal with this situation, and derive the correct sets of (single) genre.

In [14]:
# first, get all genres, including singular and multiple genre tags
all_genre_tags = 
# a variable to keep all singular genres
singular_genres = 
for genre_tag in all_genre_tags:
    # check if this tag is multiple or single
    # check whether '/' is in this tag
    if 
        # '/' seperate different genre tags
        # let's separate them
        genres = 
        # append these genres to the list of singular genre
        singular_genres = 
    else:
        # this tag has only one genre
        # append this genre to the list of singular genre
        singular_genres =
# now get unique genres from the list of genres

# print print the number of unique genres
# also print them out

SyntaxError: invalid syntax (<ipython-input-14-c7c3b0002dcc>, line 2)

## Sort the movies by their titles

In [17]:
df.sort

AttributeError: 'DataFrame' object has no attribute 'sort'

## To simplify the data for the sake of this Lab session, we are going to remove movies with compound genres.

In [44]:
df = df[df['Genre'].apply(lambda g: '/' not in g)]
df

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English,2017-09-08
13th,Documentary,"October 7, 2016",100,8.2,English,2016-10-07
15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi,2019-03-29
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07
...,...,...,...,...,...,...
Yeh Ballet,Drama,"February 21, 2020",117,7.6,Hindi,2020-02-21
Yes Day,Comedy,"March 12, 2021",86,5.7,English,2021-03-12
You've Got This,Romantic comedy,"October 2, 2020",111,5.8,Spanish,2020-10-02
Zion,Documentary,"August 10, 2018",11,7.2,English,2018-08-10
�l�t?r�,Crime drama,"October 2, 2020",106,5.5,English,2020-10-02

## You perhaps have noticed that there are genres with '-' notation, e.g. Comedy-drama. For this Lab session, let's assume that they stand for unique genres. That means 'Comedy-drama' is different from 'Drama'.

## Extract movies with only 1 tag `Action` and assign a new dataframe to them, called `df_action`

In [27]:
df['Genre'] == 'Action'

df_action = df[df['Genre'] == 'Action'] 
df_action.head(10)

               Title   Genre           Premiere  Runtime  IMDB Score Language
5              Drive  Action   November 1, 2019      147         3.5    Hindi
39        Sentinelle  Action      March 5, 2021       80         4.7   French
50   Earth and Blood  Action     April 17, 2020       80         4.9   French
153      Point Blank  Action      July 12, 2019       86         5.7  English
220    6 Underground  Action  December 13, 2019      128         6.1  English
277            Polar  Action   January 25, 2019      118         6.3  English
372       Extraction  Action     April 24, 2020      117         6.7  English

## What is the average score of all action movies?

In [31]:
df_action['IMDB Score'].mean()

5.414285714285714

## You have learned to calculate the average IMDB score for only the action movies by extracting relevant movies. By using `groupby`, the calculation can be applied to all the genres automatically.
## Now, let's group the dataframe by `Genre`.

NameError: name 'gp_genre' is not defined

## Calculate average score and average runtime for each of the groups.

In [48]:
gp_genre[['IMDB Score', 'Runtime']].mean()

                  IMDB Score     Runtime
Genre
Action              5.414286  108.000000
Action comedy       5.420000  101.200000
Action thriller     6.400000   82.000000
Action-adventure    7.300000  121.000000
Action-thriller     6.133333  119.666667
...                      ...         ...
Variety show        5.950000   60.500000
War                 6.750000  110.500000
War drama           7.100000  145.500000
War-Comedy          6.000000  122.000000
Western             6.066667  116.666667

[79 rows x 2 columns]

## On average, which movie genre scores the highest?

In [49]:
# index of the genre with the highest average score
gp_genre['IMDB Score'].mean().argmax()

19

In [50]:
gp_genre['IMDB Score'].mean().index[19]

'Concert Film'

## Are the movie titles unique?

In [61]:
df.shape
df['Title'].nunique()

533

## You have just found out that the titles are unique. It can be used as indexes for the dataframe. Let's make the `Title` column as index.

In [35]:
df.set_index('Title', inplace = True)
df.head()
#df.loc['15 August']

KeyError: "None of ['Title'] are in the columns"

# Datetime

## What is the datetype of the `Premiere` column?

'September 8, 2017'

## Convert the datetime strings to datetime objects

Title
#REALITYHIGH       2017-09-08
13th               2016-10-07
15 August          2019-03-29
22 July            2018-10-10
5 Star Christmas   2018-12-07
                      ...
Yeh Ballet         2020-02-21
Yes Day            2021-03-12
You've Got This    2020-10-02
Zion               2018-08-10
�l�t?r�            2020-10-02
Name: Premiere, Length: 533, dtype: datetime64[ns]

## Create new column for these time objects, name it `PremiereDate`

In [65]:
df['PremiereDate'] = 
df.head()

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English,2017-09-08
13th,Documentary,"October 7, 2016",100,8.2,English,2016-10-07
15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi,2019-03-29
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07

## List all the movies that were premiered in 2018

In [68]:
# Hints
# Use the datetime library
# from datetime import datetime, date
# left_bound_date
# right_bound_date

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07
6 Balloons,Drama,"April 6, 2018",75,5.9,English,2018-04-06
A Christmas Prince: The Royal Wedding,Romantic comedy,"November 30, 2018",92,5.3,English,2018-11-30
Alex Strangelove,Romantic comedy,"June 8, 2018",99,6.3,English,2018-06-08
...,...,...,...,...,...,...
To All the Boys I've Loved Before,Romantic comedy,"August 17, 2018",99,7.1,English,2018-08-17
"To Each, Her Own",Romantic comedy,"June 24, 2018",95,5.3,French,2018-06-24
Two Catalonias,Documentary,"September 28, 2018",116,6.4,Spanish/Catalan,2018-09-28
When We First Met,Romantic comedy,"February 9, 2018",97,6.4,English,2018-02-09
Zion,Documentary,"August 10, 2018",11,7.2,English,2018-08-10

## There is another way to do this by using the function [`apply`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html).  It executes a method on rows or columns.

In [ ]:
# Hint, to get year from a datetime object
# use .year